/*remove default styles*/
*{
  margin:0;
  padding:0;
  border:0;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  text-decoration: inherit;
  line-height: inherit;
  color:inherit;
}
html, body{
  font-family: "Consolas", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color:#444;
  /*add slight shadow to background, really only visable when you highlight
  the text, but it looks nice to me*/
  text-shadow: 1px 1px 0px #fff;
}
body {
  text-align: center;
}
h1{
  font-size: 36px;
  line-height: 50px;
  font-weight: bold;
}
h1 sub{
  color: #aaa;
  vertical-align: baseline;
}
h1 sub:before{
  content: "("
}
h1 sub:after{
  content: ")"
}
section{
  border-top: 2px dashed #eee;
  /*'padding:##px 0' sets ##px to padding top, left, bottom etc*/
  padding: 50px 0;
  max-width: 800px;
  margin: 0 auto;
}
.hero{
  /*outline over border - border moves everything around in order to surround it,
  while an outline is sorta overlayed on top of everything
  outline: 1px solid red;
  vh = "viewport height"...100vh sets the top of the border to the bottom
  of the browser, whatever size it may be (phone, tablet, resized browser, etc)
  also viewport width*/
  height: 100vh;
  /*flexbox. has everything in a row by default, set flex-direction to column
  to make everything go down the page vertically*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0;
  padding: 0;
}
.hero img{
  width: 100%;
  height: 100%;
}

.headshot{
  width: 280px;
  height: 300px;
  border-radius: 50%;
  /*anything that extends past the given border is hidden*/
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  /*set timeing of the transform*/
  transition: transform 1s, box-shadow 1s;
}
/*adding ':' allows many options for cool things to do, such as a hover event*/
.headshot:hover{
  transform: rotate(360deg);
  box-shadow: 0px 0px 100px 50px #fc0;

}
